* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-color: rgb(214, 220, 226);
}

.divTitle {
  height: 16vh;
}

.title {
  color: rgb(255, 255, 255);
}

.entries {
  height: 15vh;
}

.formInputs {
  height: 12vh;
  width: 78vw;
}

.tableValues {
  width: 78vw;
}