@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divContainer{
  height: 153vh;
}

body{
  background-color: rgba(224, 232, 240, 0.747);
  font-family: 'Source Sans 3', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}